<div class="max-w-screen-xl mx-auto relative overflow-x-auto rounded-lg mt-20">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-300">
      <tr>
        <th
          scope="col"
          class="px-6 py-3"
          *ngFor="let item of drivers[0] | keyvalue"
        >
          {{ item.key }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of drivers"
        let
        pair="even;"
        [class.pair]="'bg-gray-100'"
        class="bg-white border-b"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ item.country }}
        </th>
        <td class="px-6 py-4">{{ item.firstName }}</td>
        <td class="px-6 py-4">{{ item.lastName }}</td>
        <td class="px-6 py-4">{{ item.team }}</td>
        <td class="px-6 py-4">{{ item.wins }}</td>
      </tr>
    </tbody>
  </table>
</div>
